<nav class="navbar">
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="assets/logo.png" alt="IT-Fix Logo">
    </a>
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <div class="nav-links" [class.active]="menuOpen" (click)="closeMenu()">
      <a routerLink="/">Početna</a>
      <a routerLink="/prodavnica">Prodaja</a>
      <a routerLink="/pracenje-posiljke">Prati pošiljku</a>
      <a routerLink="/kontakt">Kontakt</a>
      <a routerLink="/login" *ngIf="!authService.isLoggedIn()">Prijava/Registracija</a>
      <a (click)="logout()" *ngIf="authService.isLoggedIn()">Odjava</a>
    </div>
  </div>
</nav>
