.picsum-img-wrapper {
  height: 400px;
  overflow: hidden;
}

.picsum-img-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
h3{
  font-size: 40px;
  text-outline: 1px black;
  text-shadow: 2px 1px 1px black;
  font-weight: bold;
}
p{
  font-size: 22px;
  font-weight: bold;
  text-outline: 1px black;
  text-shadow: 2px 1px 1px black;
}
@media screen and (max-width: 768px) {
  h3{
    font-size: 27px;
    text-outline: 1px black;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
  }
  p{
    font-size: 13px;
    font-weight: bold;
    text-outline: 1px black;
    text-shadow: 1px 1px 1px black;
  }
}
