<div class="posiljka-container">
  <p>Kako bi pratili svoju narudžbu, molimo da unesete ID narudžbe u polje ispod i pritisnite dugme "Prati". Ovo je dodano na vaš račun i u email potvrdi koju trebate primiti.</p>
  <div class="inputi">
    <div class="input-i-lbl">
      <label>Narudzba ID</label>
      <input class="narudzbaid-input">
    </div>
    <div class="input-i-lbl">
      <label>Email za naplatu</label>
      <input class="email-input">
    </div>
  </div>
  <button class="prati-btn">Prati</button>
</div>

