<div class="info-sekcija">
  <div class="info-item">
    <img src="assets/icons/delivery.svg" alt="Dostava">
    <div>
      <h3>Besplatna dostava</h3>
      <p>Za sve narudžbe iznad 100KM</p>
    </div>
  </div>
  <div class="info-item">
    <img src="assets/icons/warranty.svg" alt="Garancija">
    <div>
      <h3>Garancija</h3>
      <p>Na sve proizvode</p>
    </div>
  </div>
  <div class="info-item">
    <img src="assets/icons/quality.svg" alt="Kvalitet">
    <div>
      <h3>Kvalitet</h3>
      <p>Samo proizvodi su provjerenog kvaliteta</p>
    </div>
  </div>
  <div class="info-item">
    <img src="assets/icons/refund.svg" alt="Povrat novca">
    <div>
      <h3>Povrat novca</h3>
      <p>Mogućnost povrata u prvih 7 dana</p>
    </div>
  </div>
</div>
