<div class="order-container">
  <div class="order-header">
    <img src="assets/logo.png" alt="itFix Logo" class="logo">
    <h2>Hvala Vam na povjerenju!</h2>
    <p>Vaša narudžba je uspješno kreirana i obrađena. Status narudžbe: <strong>{{ narudzba?.status }}</strong></p>
    <p><strong>Broj narudžbe:</strong> #{{ narudzba?.narudzbaId }}</p>
  </div>

  <div class="order-info">
    <h3>Adresa dostave</h3>
    <p>{{ narudzba?.ime }} {{ narudzba?.prezime }}</p>
    <p>{{ narudzba?.adresaDostave }}, {{ narudzba?.grad }}</p>
    <p>{{ narudzba?.brojTelefona }}</p>
    <p>{{ narudzba?.email }}</p>
  </div>

  <div class="order-items">
    <h3>Pregled narudžbe</h3>
    <table>
      <thead>
      <tr>
        <th>Slika</th>
        <th>Proizvod</th>
        <th>Cijena</th>
        <th>Količina</th>
        <th>Ukupno</th>
      </tr>
      </thead>
      <tbody>
      <p *ngIf="!narudzba?.narudzbaProizvodi">Nema proizvoda u narudžbi!</p>

      <tr *ngFor="let item of narudzba.narudzbaProizvodi">
        <td><img [src]="item.proizvod.slikaUrl" alt="{{ item.proizvod.naziv }}"></td>
        <td>{{ item.proizvod.naziv }}</td>
        <td>{{ item.proizvod.cijena | number:'1.2-2'}} KM</td>
        <td>{{ item.kolicina }}</td>
        <td>{{ item.kolicina * item.proizvod.cijena | number:'1.2-2'}} KM</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="order-summary">
    <h3>Ukupno za plaćanje:</h3>
    <p><strong>{{ narudzba?.ukupnaCijena | number:'1.2-2' }} KM</strong></p>
  </div>

  <div class="order-footer">
    <p>Vaš itFix tim vam stoji na raspolaganju za bilo kakva pitanja ili podršku.</p>
    <p class="signature">Vaš itFix</p>
  </div>
</div>
<div class="button-container">
<button (click)="idiNaProdavnicu()">Nastavi kupovinu</button>
</div>
