<div class="all-container">
<div class="proizvod-container">
  <div class="slika-container"
       (mousemove)="prikaziZoom($event)"
       (mouseleave)="sakrijZoom()">
    <img [src]="proizvod?.slikaUrl" [alt]="proizvod?.naziv" />
    <div class="zoom-slike" [ngStyle]="{ 'background-image': 'url(' + proizvod?.slikaUrl + ')' }"></div>
  </div>

  <div class="info-container">
    <h1 class="naziv">{{ proizvod?.naziv }}</h1>

    <div class="cijene">
      <span class="trenutna-cijena">{{ proizvod?.cijenaSaPopustom | currency:'KM ' }}</span>
      <span *ngIf="proizvod?.cijena !== proizvod?.cijenaSaPopustom" class="stara-cijena">
        {{ proizvod?.cijena | currency:'KM ' }}
      </span>
    </div>

    <div *ngIf="proizvod?.garancijaMjeseci" class="garancija">
      - Garancija: {{ proizvod?.garancijaMjeseci }} mjeseci
    </div>

    <div class="stanje">
      {{ proizvod?.polovan ? '- Ovaj proizvod je polovan.' : '- Ovaj proizvod je nov.' }}
    </div>

    <div *ngIf="proizvod?.naRate" class="rate">
      - Moguće kupovati na rate (kupovinom u poslovnici)
    </div>
    <div class="dodaj-korpu-container">
      <div class="brojac-kolicine">
        <button (click)="smanjiKolicinu()">-</button>
        <span>{{ kolicina }}</span>
        <button (click)="povecajKolicinu()">+</button>
      </div>
      <button class="dodaj-korpu" (click)="dodajUKorpu(proizvod, kolicina)">Dodaj u korpu</button>
    </div>
    <div class="opis-container">
      <p class="opis">{{prikaziOpis?proizvod?.opis:(proizvod?.opis | slice:0:150) + '...'}}</p>
      <button *ngIf="proizvod?.opis.length > 150" class="toggle-opis" (click)="prikaziOpis = !prikaziOpis">
        {{ prikaziOpis ? 'Sakrij' : 'Prikaži cijeli opis' }}
      </button>
    </div>

  </div>
</div>
</div>
<app-najnoviji-proizvodi></app-najnoviji-proizvodi>
