<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="footer-logo">
        <img src="assets/logo.png" alt="Logo" />
        <p>Vaša omiljena destinacija za kupovinu elektronike.</p>
      </div>
      <div class="footer-social">
        <a href="https://www.instagram.com/itfix_centartehnike/" target="_blank">
          <img src="assets/instagram.svg" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/fixitbugojno" target="_blank">
          <img src="assets/facebook.svg" alt="Facebook" />
        </a>
      </div>
    </div>

    <div class="footer-center">
      <h3>Treba Vam pomoć?</h3>
      <ul>
        <li><a href="/kontakt">Kontakt</a></li>
        <li><a [routerLink]="['/help', 'refund']">Vraćanje novca i zamjena</a></li>
        <li><a [routerLink]="['/help', 'ordering']">Naručivanje</a></li>
        <li><a [routerLink]="['/help', 'privacy']">Privacy Policy</a></li>
        <li><a [routerLink]="['/help', 'exchange']">Zamjena robe</a></li>
        <li><a [routerLink]="['/help', 'terms']">Terms and Conditions</a></li>
      </ul>
    </div>

    <div class="footer-right">
      <h3>Informacije o firmi.</h3>
      <p><strong>it-FIX d.o.o</strong></p>
      <p>Bugojno 70230</p>
      <p>Kulina Bana 28</p>
      <p>Prodaja: +387 63 090 577</p>
      <p>Servis: +386 63 710 928</p>
      <p>Email: <a href="mailto:itfixdoo&#64;gmail.com">itfixdoo&#64;gmail.com</a></p>
    </div>
  </div>
</footer>
