.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Uvijek 4 kolone */
  gap: 25px;
  justify-content: center;
  padding: 20px;
}

.product-card {
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 400px;
}
.favorit-icon{
  color: #94c794;
  transform: scale(1.2);
  transition: ease 1s;
}
.favorit-icon:hover{
  color: #5eb95e;
}


.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
  transition: ease 1s;
}


.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff4d4f;
  color: #fff;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.product-card img {
  max-width: 190px;
  max-height: 190px;
  width:190px;
  height: 190px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  text-align: center;
  min-height: 50px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.product-prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.old-price {
  font-size: 16px;
  color: #888;
  text-decoration: line-through;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 15px;
}

.details-link {
  text-decoration: none;
  background: #fdfdfd;
  color: #6ca841;
  border: 1px solid #6ca841;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: 600;
  transition: ease 0.4s;
}

.details-link:hover {
  background: #6ca841;
  color:white;

}

/* Manji ekrani */
@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
