<div class="product-grid">
  <div *ngFor="let proizvod of proizvodi" class="product-card" (click)="otvoriProizvod(proizvod.proizvodId)">
    <div class="discount" *ngIf="proizvod.popust">
      -{{ proizvod.popust }}%
    </div>
    <img [src]="proizvod.slikaUrl" alt="{{ proizvod.naziv }}">

    <h3 class="product-title">
      {{ proizvod.naziv.length > 50 ? (proizvod.naziv | slice:0:50) + '...' : proizvod.naziv }}
    </h3>

    <p class="product-prices">
      <span *ngIf="proizvod.popust" class="old-price">{{ proizvod.cijena }} KM</span>
      <span class="product-price">{{ proizvod.cijenaSaPopustom | number:'1.2-2' }} KM</span>
    </p>

    <div class="product-actions">
      <a class="details-link">Dodaj u korpu</a>
      <button class="favorite-btn" (click)="dodajUFavorit(proizvod.proizvodId, $event)">
        <fa-icon [icon]="getHeartIcon(proizvod.proizvodId)" class="favorit-icon"></fa-icon>
      </button>
    </div>
  </div>
</div>
