<div class="store-container">
  <button class="toggle-filters" (click)="prikaziFiltere = !prikaziFiltere">
    {{ prikaziFiltere ? 'Sakrij filtere' : 'Prikaži filtere' }}
  </button>

  <aside class="filters" [ngClass]="{ 'hidden': !prikaziFiltere }">
    <h3>FILTRIRANJE:</h3>
    <label>Cijena:</label>
    <mat-slider [min]="0" [max]="5000" [step]="10">
      <input matSliderStartThumb [(ngModel)]="cijena.min" (input)="updateMin($event)">
      <input matSliderEndThumb [(ngModel)]="cijena.max" (input)="updateMax($event)">
    </mat-slider>

    <div class="price-values">
      <span>{{ cijena.min }} KM</span>
      <span>{{ cijena.max }} KM</span>
    </div>

    <h3>Kategorije</h3>
    <ul class="category-list">
      <li *ngIf="odabranaKategorija!==''" (click)="ponistiKategoirje()" style="background-color: #fa1515;color:white">Poništi kategorije</li>
      <li
        *ngFor="let kategorija of kategorije"
        [class.active]="kategorija.kategorijaId === kategorijaId"
        (click)="odabranaKategorija = kategorija; kategorijaId = kategorija.kategorijaId; fetchProizvodi()"
      >
        {{ kategorija.naziv }}
      </li>
    </ul>

    <label>Sortiraj po cijeni:</label>
    <select [(ngModel)]="sortOrder" (change)="fetchProizvodi()">
      <option value="asc">Najniža-Najviša</option>
      <option value="desc">Najviša-Najniža</option>
    </select>
  </aside>

  <section class="product-list">
    <app-proizvod-list [proizvodi]="proizvodi"></app-proizvod-list>
  </section>
</div>

<div class="pagination">
  <button (click)="onPageChange(page - 1)" [disabled]="page === 1">Prethodna</button>
  <span>Stranica {{ page }}</span>
  <button (click)="onPageChange(page + 1)" [disabled]="page * pageSize >= ukupnoProizvoda">Sljedeća</button>
</div>
