<body>
<div class="contact-container">
  <h1>Kontaktirajte nas</h1>
  <p>Za sve informacije o prodaji i servisiranju, slobodno nas kontaktirajte.</p>

  <div class="contact-info">
    <div class="info-box">
      <h2>Informacije o firmi</h2>
      <p><strong>it-FIX d.o.o</strong></p>
      <p>Kulina Bana 28, Bugojno 70230</p>
      <h4><strong>Prodaja:</strong> +387 63 090 577</h4>
      <h4><strong>Servis:</strong> +386 63 710 928</h4>
      <h4><strong>Email: </strong> <a href="mailto:itfixdoo&#64;gmail.com">itfixdoo&#64;gmail.com</a></h4>
    </div>

    <div class="maps">
      <h2>Lokacije poslovnica</h2>
      <div class="map">
        <h3>Glavna poslovnica - Bugojno, Vrbas Naselje</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2867.5328864533785!2d17.449154476024507!3d44.05170377108601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475fa70075c1b801%3A0x9161424ec3112d97!2sIT-FIX%20d.o.o%20Centar%20Tehnike!5e0!3m2!1sen!2sba!4v1739057484738!5m2!1sen!2sba" allowfullscreen></iframe>
      </div>
      <div class="map">
        <h3>Druga poslovnica - Bugojno, Kulina Bana bb</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2867.4125635207884!2d17.4466704!3d44.05418879999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475fa7a5b7641081%3A0x5b7720f3db7e1109!2sIT-FIX!5e0!3m2!1sen!2sba!4v1739057445821!5m2!1sen!2sba" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<app-info-sekcija></app-info-sekcija>
</body>

